*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
font-size: 1.5rem;
}
body{
    min-height: 100vh;
    display: flex;
    flex-flow:column nowrap;
}
main{
    flex-grow: 1;
    display: flex;
    flex-flow: column nowrap;
    justify-content:center;
    align-items:center;
    gap: 1rem;
    
}
div{
    width: 200px;
    height: 200px;
    border: 3px solid black;
    display: grid;
    place-content: center;

}
div:first-child{
    background-color: dodgerblue;
    border-top: 3px solid red;
    /* transform: translate(100%); */
    /* transform: rotateX(9deg); */
    /* transform: scaleX(120%); */
}
div:nth-child(2){
    background-color: yellowgreen;
    border-top: 3px solid purple;
    /* transform: translateY(-2rem); */
    /* transform: rotateY(180deg); */
    /* transform: scaleY(120%); */
}
div:last-child{
    background-color: limegreen;
    /* transform: translate(100%, 1rem); */
    /* transform: rotateZ(180deg); */
    /* transform: scale(60%, 60%); */
}
div:hover{
    background-color: red;
  /*   transition-property: background-color, transform;
    transition-duration: 2s, 3s;
    transition-delay: 0.5s;
 */
 transition: all 2s 0.5s;
}
div:last-child:hover{
    transform: rotate(180deg);
}



.square-animate{
    animation-name: slide;
    animation-duration: 5s;
    animation-timing-function: ease-in-out;
    animation-delay: 1s;
    animation-iteration-count: 5;
    animation-direction: normal;
    animation-fill-mode: forwards;
  /*   animation: slide 5s ease-in-out 1s 5 direction fill-mode;
 */
}
@keyframes slide {
    0%{
        transform: translateX(0);
    }
    33%{
        transform: translateX(600px) rotateX(180deg);
    }
    66%{
        transform: translateX(-600px) rotateX(-180deg);
    }
    100%{
        transform: translateX(0);
        background-color: grey;
    }
}